@import '../../scss/mixins';

.slideshow {
  position: relative;
  box-sizing: border-box;
  user-select: none;
  @include full-height();
  &__slides {
    position: relative;
  }
  &__navigation {
    position: fixed;
    z-index: 4;
    top: 12px;
    right: 12px;
  }

  @include responsive(tablet)
  {
    &__navigation {
      top: 16px;
      right: 16px;
    }
  }
  @include responsive(desktop) {
    &__navigation {
      top: 30px;
      right: 30px;
    }
  }
}
