@import "../../../../assets/scss/mixins";

.manage-tree {
  position: relative;
}

.tree-item {
  &:nth-child(n+2) {
    margin-top: 1px;
  }
  &__header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: var(--color-shape);
    border-radius: var(--size-shape-radius);
    min-height: 48px;
    > h3 {
      margin: 0;
      padding: 12px 16px 12px 4px;
      flex: 1;
      @include text-single-line();
      strong {
        display: block;
        font-size: 14px;
        letter-spacing: -.5px;
        font-weight: 600;
        line-height: 1.15;
      }
      span {
        display: block;
        margin: 3px 0 0;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: -.5px;
        line-height: 1.15;
        color: var(--color-low-fill);
      }
      b {
        font-weight: 600;
        &:before {
          content: '[';
        }
        &:after {
          content: ']';
        }
      }
      em {
        font-style: normal;
        user-select: none;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
    }
    > nav {
      display: flex;
      align-items: center;
      &:first-child {
        margin-left: 6px;
      }
      &:last-child {
        margin-right: 6px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-out;
      }
      button {
        display: none;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
        background: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: opacity var(--speed-button-active) ease-out, box-shadow var(--speed-button-active) ease-out;
        border-radius: var(--size-shape-radius);
        outline: none;
        &:focus {
          box-shadow: 0 0 0 2px var(--color-key);
        }
        &:active {
          opacity: .5;
        }
        &:disabled {
          cursor: default;
          opacity: 1;
        }
        &:nth-child(n+2) {
          margin-left: 1px;
        }
        svg {
          --icon-color: var(--color-fill);
          --icon-stroke: 1.75;
        }
        &.fold {
          display: block;
          svg {
            --icon-size: 20px;
            transform-origin: center;
            transition: transform 200ms ease-out;
            will-change: transform;
          }
          &--on {
            svg {
              transform: rotateX(180deg);
            }
          }
        }
        &.minus {
          opacity: .5;
        }
        &.add {
          svg {
            --icon-size: 20px;
          }
        }
        &.edit {
          svg {
            --icon-size: 16px;
          }
        }
        &.remove {
          svg {
            --icon-size: 20px;
          }
        }
      }
      svg {
        display: block;
        margin: 0 auto;
        --icon-color: var(--color-invert);
        --icon-stroke: 1.5;
        --icon-size: 20px;
      }
    }
  }
  @include responsive(desktop) {
    &:hover {
      .tree-item__header {
        > nav:last-child {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    &__header {
      > nav {
        button {
          display: block;
        }
      }
    }
  }
}

.add-tree {
  display: none;
  @include responsive(desktop) {
    display: block;
    position: sticky;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 24px;
    margin-top: 24px;
    button {}
  }
}
