.form-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &__body {
    position: relative;
    display: block;
    input {
      display: block;
      width: 100%;
      height: 100%;
      appearance: none;
      pointer-events: none;
      box-sizing: border-box;
    }
    i {
      display: block;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: var(--color-shape);
      box-shadow: inset 0 0 8px 0 rgba(0,0,0,.1);
      overflow: hidden;
      transition: background-color 200ms ease-out;
      svg {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: transform 200ms ease-out;
        transform: translate(-45%, -45%) scale(0);
        transform-origin: 50% 50%;
        --icon-size: 14px;
        --icon-color: #fff;
        --icon-stroke: 2.5;
      }
    }
    input:checked + i {
      background-color: var(--color-key);
      svg {
        transform: translate(-45%,-45%) scale(1);
      }
    }
    input:focus + i {
      box-shadow: inset 0 0 8px 0 rgba(0,0,0,.1), 0 0 0 2px var(--color-key), inset 0 0 0 1px rgba(255,255,255,1);
    }
  }
  &__label {
    display: block;
    margin: 0 0 0 8px;
    font-size: 14px;
    font-style: normal;
    line-height: 1.15;
    font-weight: 500;
    color: var(--color-low-fill);
    letter-spacing: -.25px;
  }
}
