@import "../../scss/mixins";

.form-upload {
  position: relative;
  display: block;
  height: var(--form-height);
  cursor: pointer;
  box-sizing: border-box;
  background: var(--color-shape);
  border-radius: var(--form-radius);
  overflow: hidden;
  user-select: none;
  transition: box-shadow var(--speed-button-active) ease-out;
  -webkit-tap-highlight-color: transparent;
  &:focus-within {
    box-shadow: 0 0 0 2px var(--color-key);
  }
  &__input {
    display: block;
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    overflow: hidden;
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &__body {
    display: flex;
    align-items: center;
    height: 100%;
    > svg {
      display: block;
      margin-left: 16px;
      --icon-size: 18px;
      --icon-stroke: 1.5;
      --icon-color: var(--color-low-fill)
    }
    > em {
      flex: 1;
      display: block;
      font-style: normal;
      font-size: 14px;
      font-weight: 500;
      padding: 0 16px 0 4px;
      line-height: 1.15;
    }
    > i {
      display: flex;
      align-items: center;
      width: var(--form-height);
      background: var(--color-key);
      height: 100%;
      > svg {
        display: block;
        margin: 0 auto;
        --icon-color: var(--color-invert);
        --icon-size: 20px;
        --icon-stroke: 1.75;
      }
    }
  }
  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  @include dark-mode() {
    &__body {
      > i {
        > svg {
          --icon-color: var(--color-fill);
        }
      }
    }
  }
}
