@import "../../scss/mixins";

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  > legend {
    font-size: 0;
  }
}

.field {
  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.25px;
    line-height: 1.15;
  }
  &__body {
    margin: 8px 0 0;
  }
  &__description {
    margin: 4px 0 0;
    font-size: 12px;
    color: var(--color-low-fill);
    line-height: 1.42;
    letter-spacing: -.25px;
  }
  & + .field {
    margin-top: 30px;
  }
}
