@import "../../scss/mixins";

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  > legend {
    font-size: 0;
  }
}

.field-basic + *,
.field-check + *,
.field-switch + * {
  margin-top: 40px;
}

.field-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.25px;
  line-height: 1.15;
}
.field-description {
  font-size: 11px;
  color: var(--color-low-fill);
  line-height: 1.42;
  letter-spacing: -.25px;
}

.field-basic {
  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.25px;
    line-height: 1.15;
  }
  &__body {
    margin: 10px 0 0;
  }
  &__inline {
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    > *:nth-child(n+2) {
      margin-left: 8px;
    }
  }
  .field-description {
    margin: 4px 0 0;
  }
  .label {
    display: flex;
    align-items: center;
    > span {
      margin-left: 6px;
      line-height: 1.15;
      font-size: 14px;
      letter-spacing: -.5px;
    }
  }
}

.field-check {
  display: flex;
  align-items: center;
  &__body {
    padding: 0 0 0 16px;
    .field-description {
      margin: 1px 0 0;
    }
  }
}

.field-checks {
  margin: 0;
  padding: 4px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.field-switch {
  display: flex;
  align-items: center;
  &__body {
    padding: 0 16px 0 0;
    flex: 1;
    .field-description {
      margin: 1px 0 0;
    }
  }
}
