@import "../../scss/mixins";

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  > legend {
    font-size: 0;
  }
}

.field-basic + *,
.field-check + *,
.field-switch + * {
  margin-top: 30px;
}

.field-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.25px;
  line-height: 1.15;
}
.field-description {
  font-size: 11px;
  color: var(--color-low-fill);
  line-height: 1.42;
  letter-spacing: -.25px;
}

.field-basic {
  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.25px;
    line-height: 1.15;
  }
  &__body {
    margin: 10px 0 0;
  }
  .field-description {
    margin: 4px 0 0;
  }
}

.field-check {
  display: flex;
  align-items: center;
  &__body {
    padding: 0 0 0 16px;
    .field-description {
      margin: 1px 0 0;
    }
  }
}

.field-switch {
  display: flex;
  align-items: center;
  &__body {
    padding: 0 16px 0 0;
    flex: 1;
    .field-description {
      margin: 1px 0 0;
    }
  }
}

.field-checks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
