@use './fieldset';
@use '../../assets/scss/mixins';

.information {
  > figure {
    margin: 20px 0;
    img {
      display: block;
      margin: 0 auto;
      max-width: 75%;
      zoom: .5;
      &:nth-child(2) {
        display: none;
      }
    }
  }
  > p {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.25;
  }
  > ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    li {
      position: relative;
      padding: 0 0 0 20px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 4px;
        top: 50%;
        width: 5px;
        height: 5px;
        background: var(--color-low-fill);
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
  }
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mixins.dark-mode() {
    > figure {
      img {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
}
