@import "../../scss/mixins";

.keyboard-guide {
  margin: 40px 0 0;
  &__header {
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -.5px;
      line-height: 1.25;
    }
    p {
      margin: 4px 0 0;
      font-size: 12px;
      letter-spacing: -.25px;
      line-height: 1.15;
      color: var(--color-low-fill);
    }
  }
  &__body {
    display: block;
    margin: 16px 0 0;
    border-collapse: collapse;
    th,
    td {
      padding: 0;
    }
    thead {
      display: none;
    }
    tbody {
      display: block;
      tr {
        display: block;
        &:nth-child(n+2) {
          margin-top: 12px;
        }
      }
      th {
        display: block;
        text-align: left;
        code {
          display: inline-block;
          padding: 4px 8px;
          border-radius: 2px;
          font-size: 12px;
          line-height: 1;
          font-family: var(--font-eng);
          color: var(--color-invert);
          background-color: var(--color-shape-button);
          user-select: none;
        }
      }
      td {
        display: block;
        margin: 4px 0 0;
        font-size: 14px;
        line-height: 1.15;
      }
    }
  }
  @include responsive(tablet) {
    &__body {
      display: table;
      width: 100%;
      border: 1px solid var(--color-shape);
      th,
      td {
        border: 1px solid var(--color-shape);
      }
      thead {
        display: table-header-group;
        th,
        td {
          padding: 8px 8px;
          border-bottom: 1px solid var(--color-shape-button);
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          letter-spacing: -.5px;
        }
      }
      tbody {
        display: table-row-group;
        tr {
          display: table-row;
        }
        th {
          display: table-cell;
          text-align: center;
          padding: 10px 0;
          width: 150px;
        }
        td {
          display: table-cell;
          margin: 0;
          padding: 10px 16px;
        }
      }
    }
  }

  @include dark-mode() {
    &__body {
      tbody {
        th {
          code {
            color: var(--color-fill);
          }
        }
      }
    }
    @include responsive(tablet) {
      &__body {
        th,
        td {
          border-color: var(--color-shape-button);
        }
        thead {
          th,
          td {
            border-bottom-color: var(--color-low-fill);
          }
        }
      }
    }
  }
}
