@import "../../scss/mixins";

.preference-side {
  --size: 48px;
  width: var(--size);
  box-sizing: border-box;
  background-color: #909090;
  &__button {
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color var(--speed-button-active) ease-out;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    &:active,
    &:focus {
      background-color: rgba(0,0,0,.2);
    }
    &:disabled {
      background-color: var(--color-key);
      cursor: default;
    }
    span {
      display: block;
    }
    svg {
      display: block;
      margin: 0 auto;
      --icon-size: 18px;
      --icon-color: var(--color-invert);
      --icon-stroke: 1.5;
    }
    em {
      display: none;
    }
  }

  @include responsive(desktop) {
    --size: 42px;
    width: 160px;
    &__button {
      width: 100%;
      span {
        display: flex;
        align-items: center;
      }
      svg {
        margin-left: 16px;
      }
      em {
        display: block;
        flex: 1;
        text-align: left;
        margin: 0 0 0 12px;
        font-weight: 400;
        color: var(--color-invert);
        font-size: 14px;
        font-style: normal;
        letter-spacing: -.25px;
      }
    }
  }
  @include dark-mode() {
    background-color: #303030;
    &__button {
      svg {
        --icon-color: var(--color-fill);
      }
      em {
        color: var(--color-fill);
      }
    }
  }
}
