.controller {
  > button {
    display: grid;
    place-content: center;
    position: absolute;
    top: 50%;
    width: 20%;
    max-width: 120px;
    height: 25%;
    border: none;
    background: none;
    translate: 0 -50%;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    --icon-margin: 0;
    --icon-color: var(--color-fill);
    --icon-size: 72px;
    --icon-stroke: 1;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
    &:active {
      opacity: .5;
    }
  }
  &.swipe {
    pointer-events: none;
  }
}