@use '../../assets/mixins';

.controller {
  > button {
    --icon-margin: 0;
    --icon-color: var(--color-fill);
    --icon-size: 54px;
    --icon-stroke: 1.25;
    --color-outline: light-dark(hsla(0 0% 100% / 50%), hsla(0 0% 0% / 35%));
    display: grid;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 20%;
    max-width: 64px;
    height: 24%;
    border: none;
    background: none;
    translate: 0 -50%;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: opacity 200ms ease-out, outline-width 200ms ease-out;
    outline: none;
    pointer-events: auto;
    margin: 0;
    padding: 0;
    &:disabled {
      pointer-events: none;
      opacity: 0;
    }
    .icon {
      filter:
        drop-shadow(0 0 1px var(--color-outline))
        drop-shadow(0 0 1px var(--color-outline))
        drop-shadow(0 0 1px var(--color-outline));
      transition: filter 200ms ease-out;
    }
    &.prev {
      left: 2%;
      justify-content: start;
    }
    &.next {
      right: 2%;
      justify-content: end;
    }
    &:active {
      opacity: .5;
    }
    &:focus-visible {
      --color-outline: var(--color-key);
      --icon-size: 64px;
      .icon {
        filter:
          drop-shadow(0 0 1px var(--color-outline))
          drop-shadow(0 0 1px var(--color-outline))
          drop-shadow(0 0 1px var(--color-outline));
      }
    }
  }
  &.swipe {
    > button {
      pointer-events: none;
    }
  }
}