.images {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform-origin: 50% 50%;
  user-select: none;
  overflow: clip;
  // scale: .5;
  &.swipe {
    cursor: grabbing;
  }
}

.body {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  li {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--color-bg);
    place-content: center;
    overflow: clip;
  }
}

.mode {
  &--none {
    .body {
      li {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
  &--fade {
    .body {
      position: relative;
      li {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        &.fade-out {
          display: block;
          z-index: 1;
        }
        &.fade-in {
          display: block;
          z-index: 2;
          opacity: 1;
          &.hide {
            opacity: 0;
          }
        }
        &.active {
          display: block;
        }
      }
    }
    &.animation-play {
      li {
        &.fade-in {
          transition-property: opacity;
          transition-duration: var(--speed-transition, 800ms);
          transition-timing-function: ease-out;
          will-change: opacity;
        }
      }
    }
  }
  &--horizontal {
    .body {
      --pos: var(--swipe-pos-x, calc(100% * var(--active-column) * -1));
      display: flex;
      backface-visibility: hidden;
      transform: translateX(var(--pos));
      li {
        display: block;
        flex-shrink: 0;
      }
    }
    &.animation-play {
      .body {
        transition-property: transform;
        transition-duration: var(--speed-transition, 800ms);
        transition-timing-function: cubic-bezier(.215,.610,.355,1);
        will-change: transform;
      }
    }
    &.animation-cancel {
      .body {
        transition-property: transform;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        will-change: transform;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
