.slides {
  height: 100%;
  box-sizing: border-box;
  @media (hover: hover) {
    > .hud.hover {
      opacity: 0;
      pointer-events: none;
    }
    &:hover > .hud.hover {
      opacity: 1;
    }
  }
}

.hud {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  pointer-events: none;
  transition: opacity 200ms ease-out;
  > * {
    pointer-events: auto;
  }
  &.use {
    display: block;
  }
}
