.slideshow {
  // color
  --color-bg: #fafafa;
  --color-fill: #181818;
  --color-low-fill: #484848;
  --color-key: #0cb85b;
  --color-shape: #e1e1e1;
  --color-shape-button: #909090;
  --color-invert: #fff;
  --color-danger: #cb2217;
  // size
  --size-shape-radius: 2px;
  // font
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-eng: Helvetica, Arial;
  // speed
  --speed-button-active: 200ms;
  --speed-slide-animation: 1000ms;
  --speed-content-toggle: 300ms;

  position: relative;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-fill);
  background-color: var(--color-bg);
  font-family: var(--font-base), sans-serif;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  box-sizing: border-box;
  container: slideshow / inline-size;

  // slideshow size
  width: var(--slideshow-width, auto);
  height: var(--slideshow-height, 100%);
}

.debug {
  position: absolute;
  background: #fff;
  left: 30px;
  bottom: 30px;
  box-sizing: border-box;
  outline: 2px solid red;
  padding: 16px;
  margin: 0;
}