@import "../../scss/mixins";

.slideshow-navigation {
  display: flex;
  &__item {
    &:nth-child(n+2) {
      margin-left: 1px;
    }
    > button {
      display: block;
      width: 48px;
      height: 48px;
      padding: 0;
      margin: 0;
      background: rgba(0,0,0,.4);
      border: none;
      font-size: 0;
      outline: none;
      cursor: pointer;
      transition: background-color var(--speed-button-active) ease-out;
      border-radius: 1px;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      &:active,
      &.on {
        background-color: rgba(0,0,0,.7);
      }
      > svg {
        display: block;
        margin: 0 auto;
        --icon-color: var(--color-invert);
        --icon-stroke: 1.5;
        --icon-size: 22px;
      }
    }
  }
  .slideshow--hover & {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--speed-content-toggle) ease-out;
  }
  .slideshow--hover:hover & {
    opacity: unset;
    pointer-events: unset;
  }
  @include dark-mode() {
    &__item {
      > button {
        background: rgba(17,17,17,.4);
        &:active,
        &.on {
          background-color: rgba(17,17,17,.8);
        }
        > svg {
          --icon-color: var(--color-fill);
        }
      }
    }
  }
}
.slideshow-navigation-context {
  position: relative;
  user-select: none;
  ul {
    position: absolute;
    right: 0;
    top: 1px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 160px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.7);
    border-radius: 1px;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--speed-button-active) ease-out;
  }
  li {
    &:nth-child(n+2) {
      border-top: 1px solid rgba(255,255,255,.1);
    }
  }
  button {
    display: block;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    border: none;
    text-align: left;
    background-color: rgba(255,255,255,0);
    color: var(--color-invert);
    font-size: 13px;
    outline: none;
    transition: background-color var(--speed-button-active) ease-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &.on,
    &:active {
      background-color: rgba(0,0,0,.2);
    }
  }
  &--on {
    ul {
      pointer-events: auto;
      opacity: 1;
    }
  }
  @include dark-mode() {
    ul {
      background-color: rgba(17,17,17,.7);
    }
    li {
      &:nth-child(n+2) {
        border-top: 1px solid rgba(255,255,255,.05);
      }
    }
    button {
      color: var(--color-fill);
      background-color: rgba(0,0,0,0);
      &.on,
      &:active {
        background-color: rgba(0,0,0,.2);
      }
    }
  }
}
