@import "../../scss/mixins";

.slideshow-caption {
  display: none;
  @include responsive(desktop) {
    --scale: calc(var(--caption-scale, 100) / 100);
    display: block;
    position: fixed;
    top: var(--caption-position-top, 32px);
    left: var(--caption-position-left, 30px);
    z-index: 2;
    pointer-events: none;
    transform: scale(var(--scale));
    transform-origin: 0 0;
    backface-visibility: hidden;
    will-change: transform;
    h1 {
      margin: 0;
      line-height: 1;
      font-size: 42px;
      letter-spacing: -1.5px;
      font-weight: 800;
      white-space: nowrap;
    }
    pre {
      display: block;
      margin: 4px 0 0;
      font-family: var(--font-base);
      line-height: 1.15;
      word-break: break-word;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: -.5px;
      color: var(--color-fill);
      opacity: .75;
    }
    .slideshow--hover & {
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--speed-content-toggle) ease-out;
    }
    .slideshow--hover:hover & {
      opacity: unset;
      pointer-events: unset;
    }
  }
}
