@import "../../assets/scss/mixins";

.slideshow-caption {
  display: none;
  @include responsive(desktop) {
    --scale: calc(var(--caption-scale, 100) / 100);
    display: block;
    position: fixed;
    top: var(--caption-position-top, 32px);
    left: var(--caption-position-left, 30px);
    right: 250px;
    z-index: 2;
    pointer-events: none;
    transform-origin: 0 0;
    backface-visibility: hidden;
    will-change: transform;
    font-size: calc(16px * var(--scale));
    h1 {
      margin: -8px 0 0;
      font-size: 2.625em;
      letter-spacing: -1.5px;
      font-weight: 800;
      line-height: 1.2;
      @include text-single-line();
    }
    pre {
      display: block;
      margin: 2px 0 0;
      font-family: var(--font-base);
      line-height: 1.15;
      word-break: break-word;
      font-weight: 400;
      font-size: .813em;
      letter-spacing: -.5px;
      color: var(--color-fill);
      opacity: .75;
    }
    .slideshow--hover & {
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--speed-content-toggle) ease-out;
    }
    .slideshow--hover:hover & {
      opacity: unset;
      pointer-events: unset;
    }
  }
}
