@import "../../scss/mixins";

.slideshow-slides {
  &__caption {
    display: none;
  }
  &__paginate {
    position: fixed;
    z-index: 2;
    right: 16px;
    bottom: 10px;
  }
  &.swipe-move {
    cursor: grabbing;
  }
  @include responsive(desktop) {
    &__caption {
      display: block;
      position: fixed;
      top: 32px;
      left: 30px;
      z-index: 2;
    }
    &__paginate {
      right: 30px;
      bottom: 30px;
    }
  }
}
