@import "../../scss/mixins";

.slideshow-slides {
  user-select: none;
  &__paginate {
    position: fixed;
    z-index: 2;
    right: 16px;
    bottom: 10px;
  }
  &.swipe-move {
    cursor: grabbing;
  }
  &--horizontal {
    .controller {
      display: none;
    }
  }
  @include responsive(desktop) {
    &__paginate {
      right: 30px;
      bottom: 30px;
    }
    &--horizontal {
      .controller {
        display: block;
      }
    }
  }
}
