@import 'normalize';
@import 'mixins';
@import 'variables';

$src-hsl-bg: 0, 0%, 98%;

:root {
  // color
  --color-bg: #fafafa;
  --color-fill: #181818;
  --color-low-fill: #484848;
  --color-key: #0cb85b;
  --color-shape: #ddd;
  --color-shape-button: #909090;
  --color-invert: #fff;
  // size
  // font
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-eng: Helvetica, Arial, sans-serif;
  // speed
  --speed-button-active: 200ms;
  --speed-slide-animation: 1000ms;

  @include responsive(desktop) {}
  @include dark-mode(true) {
    --color-bg: #222;
    --color-fill: #f1f1f1;
    --color-low-fill: #999;
    --color-key: #1bae5f;
    --color-shape: #1a1a1a;
    --color-shape-button: #383838;
    --color-invert: #111;
  }
}

html {
  touch-action: manipulation;
  overflow: hidden;
}
body {
  min-width: 320px;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color-bg);
  overflow: hidden;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  color: var(--color-fill);
}
a {
  color: var(--color-key);
}
