@import 'variables';

// responsive
@mixin responsive($range)
{
  @if $range == tablet
  {
    @media (min-width: 768px) { @content; }
  }
  @else if $range == desktop
  {
    @media (min-width: 1024px) { @content; }
  }
  @else if $range == desktop-1280
  {
    @media (min-width: 1280px) { @content; }
  }
  @else if $range == desktop-1440
  {
    @media (min-width: 1440px) { @content; }
  }
}

// for retina
@mixin retina()
{
  @media (-webkit-min-device-pixel-ratio: 2) { @content; }
}

// dark mode
@mixin dark-mode($root: false)
{
  @if $root
  {
    &[data-color=dark] { @content; }
    &[data-color=system], &:not([data-color]) {
      @media (prefers-color-scheme: dark) { @content; }
    }
  }
  @else
  {
    html[data-color=dark] & { @content; }
    @media (prefers-color-scheme: dark) {
      html[data-color=system] &, html:not([data-color]) & {
        @content;
      }
    }
  }
}

// custom scroll style
@mixin custom-scroll-style()
{
  $size: 18px;
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 5px transparent;
    border-left: 1px solid var(--color-shape);
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #aaa;
    border: solid 5px transparent;
    border-radius: $size;
  }
  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #888;
  }
  @include dark-mode() {
    &::-webkit-scrollbar {
      background: var(--color-bg);
    }
    &::-webkit-scrollbar-track {
      border-left-color: var(--color-shape-button);
    }
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 10px 10px #444;
    }
    &::-webkit-scrollbar-thumb:hover {
      box-shadow: inset 0 0 10px 10px #666;
    }
  }
}
