.guide {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-bg);
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
